# Файл .gitignore

# Секреты
.env

# Локальная база бота
*.sqlite
*.sqlite3

# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# IDE настройки (Cursor/VSCode)
.vscode/

# Исключаем файлы Excel, чтобы не пушить спам
*.xlsx
